/* Marquee Animation */
.marquee {
  overflow: hidden;
  position: relative;
}

.track {
  width: max-content;
  animation: scrollText 100s linear infinite;
}

.marquee:hover .track {
  animation-play-state: paused;
}

@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* CV accordion animation */
.cv_accordion .cv_content {
  height: 0;
  overflow: clip;
  transition: height 0.3s ease;
  interpolate-size: allow-keywords;
}

.cv_accordion[open] .cv_content {
  height: auto;
}