@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root {
    --bg_opacity: 0.6;
    --bg_gradient: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    --custom_blue: #021117;
    --custom_blue_light: #0d5b80;
    --custom_lime: #D4DE29;
    --custom_lime_dark: #7f8415;
}

.custom_gradient {
    background: var(--bg_gradient);
}

.roboto-mono-font{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.comfortaa-font{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.jersey-25-regular-font{
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#socials>li:hover{
  opacity: 0.5;
}

@media screen and (max-width: 1200px){
  #main_img{
    bottom: auto;
    right: 0;
    top: 1rem;
    height: 500px;
  }

  #main_heading{
    font-size: 6rem;
    margin-left: -5px;
  }  

  #sub_heading{
    font-size: 1.5rem;
  }

  #main_section{
    width: 75%;
  }
}

@media screen and (max-width: 800px){
  #main_img{
    height: 400px;
  }

  #main_heading{
    font-size: 4rem;
  }

  #sub_heading{
    font-size: 1rem;
  }

  #main_section{
    width: 100%;
  }

  #top_content{
    width: 100% !important;
    margin-bottom: 20rem;
  }

  .menu{
    width: 100%;
    grid-column: 1 / 3;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    justify-items: start;
    border-radius: 1rem;
    margin-bottom: 1rem !important;
  }

  .menu a, .menu a li{
    width: 100%;
  }

  .menu a li{
    padding: 1rem !important;
    background-color: var(--custom_blue_light);
    border-radius: 0;
  }

  #bottom_content{
    width: 100%;
    padding: 0;
    background-color: transparent;
  }

  #about_txt{
    margin: 2.5rem 0;
    background: rgb(12,70,98);
    background: linear-gradient(90deg, rgba(12,70,98,1) 0%, rgba(13,91,128,1) 100%);
    padding: 2.5rem;
  }
}

/* Testing */

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header a li {
  display: block;
  padding: 20px 20px;
  margin-left: 0px;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 0;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--custom_lime);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--custom_lime);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header a li {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}